<?xml version="1.0" encoding="UTF-8"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="%JAR_NAME%" contributionJavaDocs="%JAVADOC_JAR%" contributionLibPathInMule="/plugins" contributionLibs="%ZIP_NAME%" contributionNamespace="http://www.mulesoft.org/schema/mule/s3" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/s3/2.0/mule-s3.xsd" contributionNamespacePrefix="s3" contributionSources="%SOURCES_JAR%" contributionType="cloud-connector" name="S3" path="editors.xml" version="%PROJECT_VERSION%"/></extension></plugin>